
.navbar {
    background-color: #ffffff;
    padding: 14px 0;
    border-bottom: 1px solid #e0e0e0;
}


.nav-links {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 30px;
}

.nav-links a {
    text-decoration: none;
    color: #333;
    font-size: 15px;
    position: relative;
    padding: 5px 0;
    transition: color 0.3s ease;
}


.nav-links a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -4px;
    width: 0;
    height: 2px;
    background-color: #000;
    transition: width 0.3s ease;
}

.nav-links a:hover {
    color: #000;
}

.nav-links a:hover::after {
    width: 100%;
}