.hidden{
    display: none;
}
.link{
    display: flex;
    gap: 40px;
    justify-content: center;
    align-items: center;
    height: 98vh;
}
.linkchild{
    background-color: #fff;
    padding: 15px;
    text-decoration: none;
    color: blueviolet;
}
.task{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 98vh;
}
.task button{
    width: 140px;
}